:root {
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
    --columns: 200px 200px;
}

html, body {
    background: var(--beige);
    color: var(--red);
}

h1, p {
    color: var(--red);
}

#navbar {
    --navbar-red: #ff6f19;
}

#navbar a {
    color: var(--navbar-red);
}

.item {
    --red: #ff8e69;
    background: var(--yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}

.featured{
    --red: #ffcc5c;
    --yellow: #ff6f69;
}

.grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}

@media all and (max-width: 500px) {
    .grid {
        --columns: 200px;
    }
}